[submodule "subprojects/flatpak"]
	path = subprojects/flatpak
	url = https://github.com/flatpak/flatpak

[submodule "subprojects/variant-schema-compiler"]
	path = subprojects/variant-schema-compiler
	url = https://gitlab.gnome.org/alexl/variant-schema-compiler.git
